<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description description description description description description description description description">
    <meta name="keywords" content="keyword1, keyword2, keyword3, keyword4, keyword5, keyword6, keyword7">
    <title>Theme - 01</title>

    <!-- Style - Libs -->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">-->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/medical.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.css">

    <!-- My Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
	
</head>

<body>
    <div class="wrapper">
        <!-- Begin header -->
        <div class="navbar navbar-main">
            <div class="container container-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/front/logo.png" alt="image">
                    </a>
                </div>

                <ul class="info-toggle">
                    <li class="nav-item"><a href="#"><i class="fa fa-search"></i> </a> </li>
                    <li class="nav-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i> </a>
                        <ul class="dropdown-menu">
                            <li>
                                <i class="fa fa-phone"></i>
                                <div class="ititle">Call us toll free</div>
                                <strong>1800-9090-8089</strong>
                            </li>
                            <li><a href="#">
                                <i class="fa fa-key"></i>
                                Login
                            </a></li>
                            <li><a href="#">
                                <img alt="English" class="img-flag" src="images/front/en.jpg" width="16" height="11">
                                English
                            </a></li>
                        </ul>
                    </li>
                </ul>

                <nav class="navbar-collapse collapse middle-menu">
                    <ul class="nav navbar-nav menu-main navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOME <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../html-01/01-Home-v1.html">Home Verson 1</a></li>
                                <li><a href="../html-02/01-Home-v2.html">Home Verson 2</a></li>
                                <li><a href="../html-03/01-Home-v3.html">Home Verson 3</a></li>
                                <li><a href="../html-04/01-Home-v4.html">Home Verson 4</a></li>
                            </ul>
                        </li>

                        <li><a href="#">DOCTORS</a></li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="09-Services1-v1.html">Services Verson 1</a></li>
                                <li><a href="10-Services2-v1.html">Services Verson 2</a></li>
                                <li><a href="11-Services-Single-v1.html">Single Services</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GALLERY <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="03-Ablum-3column-v1.html">Gallery Verson 1</a></li>
                                <li><a href="04-Ablum-2column-v1.html">Gallery Verson 2</a></li>
                                <li><a href="05-Album-Single-v1.html">Single Gallery</a></li>
                            </ul>
                        </li>

                        <li><a href="#">TESTIMONIALS</a></li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BLOG <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="06-Blog-Full-Width-v1.html">Blog Verson 1</a></li>
                                <li><a href="07-Blog-Slidebar-v1.html">Blog Verson 2</a></li>
                                <li><a href="08-Blog-Single-v1.html">Single Blog</a></li>
                            </ul>
                        </li>

                        <li><a href="12-Contact-v1.html">CONTACT</a></li>
						<li class="divider"></li>
						<li class="extra-menu">
							<div class="contact-phone-header">
								<i class="fa fa-phone"></i>
                                <div class="ititle">Call us toll free</div>
                                <strong>1800-9090-8089</strong>
							</div>
							<a href="#">
								<div class="target-login">
									<i class="fa fa-key"></i>
									Login
								</div>
							</a>
							<a href="#">
								<div class="target-language">
									<img alt="English" class="img-flag" src="images/front/en.jpg" width="16" height="11">
									English
								</div>
							</a>
						</li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End header -->

        <!-- Begin Main -->
        <div id="main" class="content-main">
            <div class="content-article">

                <!-- Write code -->
                <section id="slider-section" class="slider-section container-fluid no-padding">
                    <div id="home-slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="images/bnr-01.jpg" width="1840" height="800" alt="slide1">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <div class="col-md-7 col-sm-8 col-xs-12 ow-pull-right">
                                            <h3 data-animation="animated bounceInLeft">Providing Total<br>Health Care Solution</h3>
                                            <p data-animation="animated bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                            <a href="#" title="viewmore" data-animation="animated fadeInUp">View Services</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="images/bnr-01.jpg" width="1840" height="800" alt="slide1">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <div class="col-md-7 col-sm-8 col-xs-12 ow-pull-right">
                                            <h3 data-animation="animated bounceInLeft">Providing Total<br>Health Care Solution</h3>
                                            <p data-animation="animated bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                            <a href="#" title="viewmore" data-animation="animated fadeInUp">View Services</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#home-slider" class="left carousel-control" role="button" data-slide="prev"><i class="fa fa-angle-left"></i> </a>
                            <a href="#home-slider" class="right carousel-control" role="button" data-slide="next"><i class="fa fa-angle-right"></i> </a>
                        </div>
                    </div>
                </section>
                <!-- E: .slider-section -->

                <section class="section-why-choose mb100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="block-why-choose">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2 class="tt02">Why Choose Us</h2>
                                            <p class="intro">Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="choose">
                                                <div class="choose-icon">
                                                    <img src="images/front/icon1.png" alt="image" />
                                                </div>
                                                <div class="choose-content">
                                                    <h5 class="tt05">Professional Doctors</h5>
                                                    <p class="color-70">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium dolor emque laudantium</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="choose">
                                                <div class="choose-icon">
                                                    <img src="images/front/icon2.png" alt="image" />
                                                </div>
                                                <div class="choose-content">
                                                    <h5 class="tt05">Exclusive Blood Bank</h5>
                                                    <p class="color-70">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium dolor emque laudantium</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="choose">
                                                <div class="choose-icon">
                                                    <img src="images/front/icon3.png" alt="image" />
                                                </div>
                                                <div class="choose-content">
                                                    <h5 class="tt05">Track your Progress</h5>
                                                    <p class="color-70">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium dolor emque laudantium</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="choose">
                                                <div class="choose-icon">
                                                    <img src="images/front/icon4.png" alt="image" />
                                                </div>
                                                <div class="choose-content">
                                                    <h5 class="tt05">Emergency services</h5>
                                                    <p class="color-70">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium dolor emque laudantium</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="quotes">
                                    <div class="head">
                                        <div class="head-ctn">
                                            <h4>Make An Appointment</h4>
                                            <h3 class="hotline">Call: (800) 345 6789</h3>
                                        </div>
                                    </div>
                                    <form class="frm-register">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Email ID or Phone Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control">
                                                <option>Please Choose a department</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Date and Time</label>
                                            <input type="text" class="form-control" placeholder="eg: next monday 3pm">
                                        </div>
                                        <div class="form-group">
                                            <label>Additional information <span class="txt-optional">(optional)</span></label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                        <button class="btn medical-button">Book An Appointment</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- E: .section-why-choose -->

                <section class="section-gallery">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="images/picture/gallery-01.jpg" alt="image">
                            <div class="overlay">
                                <a href="#" class="readmore"><i class="fa fa-link"></i> </a>
                                <a href="#" class="quickview"><i class="fa fa-search"></i> </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/picture/gallery-02.jpg" alt="image">
                            <div class="overlay">
                                <a href="#" class="readmore"><i class="fa fa-link"></i> </a>
                                <a href="#" class="quickview"><i class="fa fa-search"></i> </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/picture/gallery-03.jpg" alt="image">
                            <div class="overlay">
                                <a href="#" class="readmore"><i class="fa fa-link"></i> </a>
                                <a href="#" class="quickview"><i class="fa fa-search"></i> </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/picture/gallery-04.jpg" alt="image">
                            <div class="overlay">
                                <a href="#" class="readmore"><i class="fa fa-link"></i> </a>
                                <a href="#" class="quickview"><i class="fa fa-search"></i> </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/picture/gallery-04.jpg" alt="image">
                            <div class="overlay">
                                <a href="#" class="readmore"><i class="fa fa-link"></i> </a>
                                <a href="#" class="quickview"><i class="fa fa-search"></i> </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/picture/gallery-01.jpg" alt="image">
                            <div class="overlay">
                                <a href="#" class="readmore"><i class="fa fa-link"></i> </a>
                                <a href="#" class="quickview"><i class="fa fa-search"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="controls">
                        <h5 class="tt05">Please click on button arrow in order to view more or <a href="#">View all</a> photo gallery</h5>
                    </div>
                </section>
                <!-- E: .section-gallery -->

                <section class="section-department">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-7">
                                <div class="our-department">
                                    <h2 class="tt02">Our Departments</h2>
                                    <p class="intro mb60">
                                        Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                                    </p>
                                    <ul class="notype group-list-department row">
                                        <li class="col-xs-6 col-sm-4">
                                            <a href="#">
                                                <span class="icon-brain-upper-view-outline fs1"></span><br>
                                                <span class="department-name">Neurology</span>
                                                <img src="images/front/department-02.jpg" class="img-responsive" alt="image">
                                            </a>
                                        </li>

                                        <li class="col-xs-6 col-sm-4">
                                            <a href="#">
                                                <span class="icon-eye-outline-with-lashes fs1"></span><br>
                                                <span class="department-name">eye care</span>
                                                <img src="images/front/department-03.jpg" class="img-responsive" alt="image">
                                            </a>
                                        </li>

                                        <li class="col-xs-6 col-sm-4">
                                            <a href="#">
                                                <span class="icon-fetus-in-an-uterus fs1"></span><br>
                                                <span class="department-name">Pulmonary</span>
                                                <img src="images/front/department-04.jpg" class="img-responsive" alt="image">
                                            </a>
                                        </li>

                                        <li class="col-xs-6 col-sm-4">
                                            <a href="#">
                                                <span class="icon-injured-tooth fs1"></span><br>
                                                <span class="department-name">Dental Care</span>
                                                <img src="images/front/department-05.jpg" class="img-responsive" alt="image">
                                            </a>
                                        </li>

                                        <li class="col-xs-6 col-sm-4">
                                            <a href="#">
                                                <span class="icon-human-skull-side-view fs1"></span><br>
                                                <span class="department-name">Prostheses</span>
                                                <img src="images/front/department-06.jpg" class="img-responsive" alt="image">
                                            </a>
                                        </li>

                                        <li class="col-xs-6 col-sm-4">
                                            <a href="#">
                                                <span class="icon-kneecap fs1"></span><br>
                                                <span class="department-name">Traumatology</span>
                                                <img src="images/front/department-07.jpg" class="img-responsive" alt="image">
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm department-bg-img">
                        <img src="images/picture/department-01.jpg" alt="image" class="img-responsive">
                    </div>
                </section>
                <!-- E: .section-department -->

                <section class="section-client-say">
                    <div class="container">
                        <h2 class="tt02 color-white">1000+ Clients Say</h2>
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-7">
                                <p class="intro mb60">
                                    Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                        <ul class="row client-say">
                            <li class="col-sm-4">
                                <div class="testimonial">
                                    <div class="testimonial-ctn">
                                        <blockquote>
                                            “Their customer support was amazing.    Their help was quick and gave me very clear instructions to follow. Incredible theme. Thumb up!”
                                        </blockquote>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="testimonial-cover"><img src="images/picture/cover-01.png" alt="image"></div>
                                        <div class="testimonial-author">
                                            <strong>Dr. Adaline Becka</strong>
                                            <div class="testimonial-author-info">UI-UX Designer</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="col-sm-4">
                                <div class="testimonial">
                                    <div class="testimonial-ctn">
                                        <blockquote>
                                            “Amazing fast and reliable customer         support! The team of developers are willing to go an extra mile for customer service! Thanks!”
                                        </blockquote>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="testimonial-cover"><img src="images/picture/cover-02.png" alt="image"></div>
                                        <div class="testimonial-author">
                                            <strong>Dr. Adaline Becka</strong>
                                            <div class="testimonial-author-info">CEO & Founder</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="col-sm-4">
                                <div class="testimonial">
                                    <div class="testimonial-ctn">
                                        <blockquote>
                                            “Amazing fast and reliable customer         support! The team of developers are willing to go an extra mile for customer service! Thanks!”
                                        </blockquote>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="testimonial-cover"><img src="images/picture/cover-03.png" alt="image"></div>
                                        <div class="testimonial-author">
                                            <strong>Dr. Adaline Becka</strong>
                                            <div class="testimonial-author-info">Web Developer</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </section>
                <!-- E: .section-client-say -->

                <section class="section-news gray">
                    <div class="container">
                        <h2 class="tt02">News Update</h2>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-7">
                                <p class="intro mb60">
                                    Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                                <div class="view-more">
                                    <a href="#" class="btn medical-button view-more-md">View all post</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="item-box">
                                    <div class="pic">
                                        <img src="images/picture/news-01.jpg" class="img-responsive" alt="image">
                                    </div>
                                    <div class="item-box-body">
                                        <h4 class="tt05"><a href="#">What is the success rate of a Root Canel?</a> </h4>
                                        <p class="postby">Posted <a href="#" class="datetime">20 December 2016</a>   by <a href="#">Admin</a></p>
                                        <p class="color-70">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque <a href="#">[Read more]</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="item-box">
                                    <div class="pic">
                                        <img src="images/picture/news-02.jpg" class="img-responsive" alt="image">
                                    </div>
                                    <div class="item-box-body">
                                        <h4 class="tt05"><a href="#">Cosmetic Dentistry Techniques Explained</a> </h4>
                                        <p class="postby">Posted <a href="#" class="datetime">20 December 2016</a>   by <a href="#">Admin</a></p>
                                        <p class="color-70">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque <a href="#">[Read more]</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="item-box">
                                    <div class="pic">
                                        <img src="images/picture/news-03.jpg" class="img-responsive" alt="image">
                                    </div>
                                    <div class="item-box-body">
                                        <h4 class="tt05"><a href="#">Synthetic Glycopolymer Tests Mucoadhesion</a> </h4>
                                        <p class="postby">Posted <a href="#" class="datetime">20 December 2016</a>   by <a href="#">Admin</a></p>
                                        <p class="color-70">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque <a href="#">[Read more]</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- E: .section-news -->

                <section class="section-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="widget contact-info-footer">
                                    <h3>Contact us</h3>
                                    <p class="textwg">At vero eos et accusamus et iusto odio dignissimos qui blanditiis.</p>
                                    <p><i class="fa fa-map-marker"></i>Big Ben Street, E16 3LS, London,United Kingdom</p>
                                    <p><i class="fa fa-envelope"></i><a href="#" class="mailto">Support24/7@domain.com</a> </p>
                                    <p><i class="fa fa-phone"></i>(0084)+ 123 45 67 890</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget">
                                    <h3>Services</h3>
                                    <ul class="notype lists">
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Dental Implants</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Heart Specialist</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Laboratory Tests</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Operation Theater</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>ICU Department</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Liposuction Department</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget">
                                    <h3>Twitter</h3>
                                    <div class="link-twitter">
                                        <span class="set-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        <p>Sed ut perspiciatis unde omnis iste <a href="#" class="ui-link-white">https://t.co/</a></p>
                                        2 hours ago
                                    </div>
                                    <div class="link-twitter">
                                        <span class="set-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        <p>Sed ut perspiciatis unde omnis iste <a href="#" class="ui-link-white">https://t.co/</a></p>
                                        2 hours ago
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget wg-instagram">
                                    <h3>Instagram</h3>
                                    <ul class="notype list-member-ins">
                                        <li><a href="#"><img src="images/picture/ins-01.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-02.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-03.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-04.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-05.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-06.jpg" alt="image"></a> </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- E: .section-footer -->

                <!-- End code -->

            </div>
        </div>
        <!-- End Main -->

        <!-- Begin Footer -->
        <footer id="page-footer">
            <div class="">
                <div class="container">
                    <div class="row footer">
                        <div class="hidden-xs hidden-sm col-md-3 ">
                            <img class="img-responsive" src="images/front/logo.png" alt="image">
                        </div>
                        <div class="col-md-6">
                            <div class="copyright">
                                Copyright 2016 by Medical. Made with <i aria-hidden="true" class="fa fa-heart"></i> by NthPsd.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="social-links">
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-twitter"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-instagram"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-youtube"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    <!-- Java Scripts - Libs -->
    <script type="text/javascript" src="js/jquery.min.1.11.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {

            $("#owl-demo").owlCarousel({
                navigation : true,
                items : 4,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,3]
            });

        });
    </script>
 
</body>

</html>
