<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description description description description description description description description description">
    <meta name="keywords" content="keyword1, keyword2, keyword3, keyword4, keyword5, keyword6, keyword7">
    <title>Theme - 04</title>

    <!-- Style - Libs -->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">-->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/medical.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.css">
    <link rel="stylesheet" href="stylesheets/jquery.fancybox.css" type="text/css">

    <!-- My Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
	
</head>

<body>
    <div class="wrapper">
        <!-- Begin header -->
		<div class="navbar navbar-main">
            <div class="topbar grayee">
                <div class="container">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-9">
                            <div class="info">
                                <div class="info-item">
                                    <i class="fa fa-clock-o"></i>
                                    Mon - Sat : 7:00AM to 9:00PM
                                </div>
                                <div class="info-item">
                                    <i class="fa fa-map-marker"></i>
                                    E16 Big Ben Street, London, United Kingdom
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="login-language pull-right">
                                <a class="ui-btn-login ui-link-gray33" href="">
                                    <i class="fa fa-key"></i> Login
                                </a>
                                <div class="dropdown language">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <img alt="English" class="img-flag" src="images/front/en.jpg" width="16" height="11">
                                        English
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">France</a></li>
                                        <li><a href="#">Arabic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/front/logo.png" alt="image">
                    </a>
                </div>

                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOME <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="../html-01/01-Home-v1.html">Home Verson 1</a></li>
                                <li><a href="../html-02/01-Home-v2.html">Home Verson 2</a></li>
                                <li><a href="../html-03/01-Home-v3.html">Home Verson 3</a></li>
                                <li><a href="../html-04/01-Home-v4.html">Home Verson 4</a></li>
                            </ul>
						</li>
						
                        <li><a href="#">DOCTORS</a></li>
						
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="09-Services1-v3.html">Services Verson 1</a></li>
                                <li><a href="10-Services2-v3.html">Services Verson 2</a></li>
                                <li><a href="11-Services3-v3.html">Services Verson 3</a></li>
                                <li><a href="12-Services-Single-v3.html">Single Services</a></li>
                            </ul>
						</li>
						
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GALLERY <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="03-Ablum-3column-v3.html">Gallery Verson 1</a></li>
                                <li><a href="04-Ablum-2column-v3.html">Gallery Verson 2</a></li>
                                <li><a href="05-Album-Single-v3.html">Single Gallery</a></li>
                            </ul>
						</li>
						
                        <li><a href="#">TESTIMONIALS</a></li>
						
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BLOG <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="06-Blog-Full-Width-v3.html">Blog Verson 1</a></li>
                                <li><a href="07-Blog-Slidebar-v3.html">Blog Verson 2</a></li>
                                <li><a href="08-Blog-Single-v3.html">Single Blog</a></li>
                            </ul>
						</li>
						
                        <li><a href="13-Contact-v3.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- End header -->

        <!-- Begin Main -->
        <div id="main" class="content-main">
            <div class="content-article">

                <!-- Write code -->

                <div class="section-subbanner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="caption">Album Gallery 3 columns</div>
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a> </li>
                                    <li><a href="#">Pages</a> </li>
                                    <li class="active">Album Gallery 3 columns with title</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- E: .section-banner -->

                <div class="primary-content">
                    <div class="gallery">
                        <div class="container">
                            <ul class="gallery-list row no-padding">
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-13.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-14.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-15.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-08.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-07.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-06.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-07.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-08.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-09.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-10.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-11.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-block">
                                        <img alt="image" src="images/picture/gallery-12.jpg">
                                        <a href="images/picture/gallery-large-01.jpg" class="zoom" title="gallery"><i class="fa fa-mail-forward"></i></a>
                                    </div>
                                    <div class="gallery-head">
                                        <h4 class="title">Album No.07: Full width project</h4>
                                        <div class="gallery-head-desc">
                                            <span class="calendar"><i class="fa fa-calendar"></i> 20 March, 2016</span>
                                            <span class="tag"><i class="fa fa-tags"></i> Web Design</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center">
                                <ul class="pagination pagination-lg">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- E: .gallery -->
                </div>



                <section class="section-footer pb70 pt100">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="widget contact-info-footer">
                                    <h3>Contact us</h3>
                                    <p class="textwg">At vero eos et accusamus et iusto odio dignissimos qui blanditiis.</p>
                                    <p><i class="fa fa-map-marker"></i>Big Ben Street, E16 3LS, London,United Kingdom</p>
                                    <p><i class="fa fa-envelope"></i><a href="#" class="mailto">Support24/7@domain.com</a> </p>
                                    <p><i class="fa fa-phone"></i>(0084)+ 123 45 67 890</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget">
                                    <h3>Services</h3>
                                    <ul class="notype lists">
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Dental Implants</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Heart Specialist</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Laboratory Tests</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Operation Theater</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>ICU Department</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Liposuction Department</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget">
                                    <h3>Twitter</h3>
                                    <div class="link-twitter">
                                        <span class="set-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        <p>Sed ut perspiciatis unde omnis iste <a href="#" class="ui-link-white">https://t.co/</a></p>
                                        2 hours ago
                                    </div>
                                    <div class="link-twitter">
                                        <span class="set-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        <p>Sed ut perspiciatis unde omnis iste <a href="#" class="ui-link-white">https://t.co/</a></p>
                                        2 hours ago
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget wg-instagram">
                                    <h3>Instagram</h3>
                                    <ul class="notype list-member-ins">
                                        <li><a href="#"><img src="images/picture/ins-01.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-02.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-03.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-04.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-05.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-06.jpg" alt="image"></a> </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- E: .section-footer -->

                <!-- End code -->

            </div>
        </div>
        <!-- End Main -->

        <!-- Begin Footer -->
        <footer id="page-footer">
            <div class="">
                <div class="container">
                    <div class="row footer">
                        <div class="hidden-xs hidden-sm col-md-3 ">
                            <img class="img-responsive" src="images/front/logo.png" alt="image">
                        </div>
                        <div class="col-md-6">
                            <div class="copyright">
                                Copyright 2016 by Medical. Made with <i aria-hidden="true" class="fa fa-heart"></i> by NthPsd.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="social-links">
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-twitter"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-instagram"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-youtube"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    <!-- Java Scripts - Libs -->
    <script type="text/javascript" src="js/jquery.min.1.11.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
