<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description description description description description description description description description">
    <meta name="keywords" content="keyword1, keyword2, keyword3, keyword4, keyword5, keyword6, keyword7">
    <title>Theme - 10</title>

    <!-- Style - Libs -->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">-->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/medical.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.css">

    <!-- My Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
	
</head>

<body>
    <div class="wrapper">
        <!-- Begin header -->
		<div class="navbar navbar-main">
            <div class="topbar grayee">
                <div class="container">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-9">
                            <div class="info">
                                <div class="info-item">
                                    <i class="fa fa-clock-o"></i>
                                    Mon - Sat : 7:00AM to 9:00PM
                                </div>
                                <div class="info-item">
                                    <i class="fa fa-map-marker"></i>
                                    E16 Big Ben Street, London, United Kingdom
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="login-language pull-right">
                                <a class="ui-btn-login ui-link-gray33" href="">
                                    <i class="fa fa-key"></i> Login
                                </a>
                                <div class="dropdown language">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <img alt="English" class="img-flag" src="images/front/en.jpg" width="16" height="11">
                                        English
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">France</a></li>
                                        <li><a href="#">Arabic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/front/logo.png" alt="image">
                    </a>
                </div>

                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOME <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="../html-01/01-Home-v1.html">Home Verson 1</a></li>
                                <li><a href="../html-02/01-Home-v2.html">Home Verson 2</a></li>
                                <li><a href="../html-03/01-Home-v3.html">Home Verson 3</a></li>
                                <li><a href="../html-04/01-Home-v4.html">Home Verson 4</a></li>
                            </ul>
						</li>
						
                        <li><a href="#">DOCTORS</a></li>
						
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="09-Services1-v3.html">Services Verson 1</a></li>
                                <li><a href="10-Services2-v3.html">Services Verson 2</a></li>
                                <li><a href="11-Services3-v3.html">Services Verson 3</a></li>
                                <li><a href="12-Services-Single-v3.html">Single Services</a></li>
                            </ul>
						</li>
						
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GALLERY <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="03-Ablum-3column-v3.html">Gallery Verson 1</a></li>
                                <li><a href="04-Ablum-2column-v3.html">Gallery Verson 2</a></li>
                                <li><a href="05-Album-Single-v3.html">Single Gallery</a></li>
                            </ul>
						</li>
						
                        <li><a href="#">TESTIMONIALS</a></li>
						
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BLOG <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="06-Blog-Full-Width-v3.html">Blog Verson 1</a></li>
                                <li><a href="07-Blog-Slidebar-v3.html">Blog Verson 2</a></li>
                                <li><a href="08-Blog-Single-v3.html">Single Blog</a></li>
                            </ul>
						</li>
						
                        <li><a href="13-Contact-v3.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- End header -->

        <!-- Begin Main -->
        <div id="main" class="content-main">
            <div class="content-article">

                <!-- Write code -->

                <div class="section-subbanner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="caption">Blog Slidebar 2 columns</div>
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a> </li>
                                    <li><a href="#">Pages</a> </li>
                                    <li class="active">Album Gallery 3 columns with title</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- E: .section-banner -->

                <div class="primary-content">
                <div class="blog blog-columns">
                <div class="container">
                <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-sm-push-8 col-md-push-8">
                    <div class="block-search">
                        <form class="input-append" method="GET" action="/">
                            <input type="text" title="Type & Hit Enter..." id="kw" name="kw" class="form-control" placeholder="Type & Hit Enter...">
                            <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div><!-- E: .block-search -->

                    <div class="widget categories">
                        <div class="widget-title">
                            <h4>CATEGORIES</h4>
                        </div>
                        <ul class="notype category-nav">
                            <li><a href="#">Life Style <span>(9)</span></a> </li>
                            <li><a href="#">Business <span>(9)</span></a> </li>
                            <li><a href="#">Entertainment <span>(9)</span></a> </li>
                            <li><a href="#">Photography <span>(9)</span></a> </li>
                            <li><a href="#"> Real life <span>(9)</span></a> </li>
                        </ul>
                    </div>
                    <!-- E: .categories -->

                    <div class="widget recent-post">
                        <div class="widget-title">
                            <h4>Recent Post</h4>
                        </div>
                        <div class="widget-body">
                            <div class="media">
                                <div class="media-left pull-left">
                                    <a href="#">
                                        <img src="images/picture/blog-01.jpg" class="media-object" alt="Sample Image">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" title="">What is the success rate of a Root Canel?</a></h4>
                                    <p class="postago">Posted <span class="color-333">20 December 2016</span></p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left pull-left">
                                    <a href="#">
                                        <img src="images/picture/blog-02.jpg" class="media-object" alt="Sample Image">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" title="">What is the success rate of a Root Canel?</a></h4>
                                    <p class="postago">Posted <span class="color-333">20 December 2016</span></p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left pull-left">
                                    <a href="#">
                                        <img src="images/picture/blog-03.jpg" class="media-object" alt="Sample Image">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" title="">What is the success rate of a Root Canel?</a></h4>
                                    <p class="postago">Posted <span class="color-333">20 December 2016</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: .recent-post -->

                    <div class="widget latest-tweets">
                        <div class="widget-title">
                            <h4>Latest Tweets</h4>
                        </div>
                        <ul class="notype list-latest">
                            <li>
                                <p class="list-latest-desc">Portfolio Page Creation:<br>
                                    <a href="#">https://t.co/TN773odoa</a> @YouTube
                                </p>
                                <p class="color-a8">5 days ago</p>
                            </li>
                            <li>
                                <p class="list-latest-desc">Portfolio Page Creation:<br>
                                    <a href="#">https://t.co/TN773odoa</a> @YouTube
                                </p>
                                <p class="color-a8">5 days ago</p>
                            </li>
                            <li>
                                <p class="list-latest-desc">Portfolio Page Creation:<br>
                                    <a href="#">https://t.co/TN773odoa</a> @YouTube
                                </p>
                                <p class="color-a8">5 days ago</p>
                            </li>
                        </ul>
                    </div>
                    <!-- E: . -->

                    <div class="widget ">
                        <div class="widget-title">
                            <h4>Popular Tags</h4>
                        </div>
                        <ul class="list-inline bullet-lists">
                            <li><a href="#">example</a>, </li>
                            <li><a href="#">Gallery</a>author, </li>
                            <li><a href="#">Image</a>, </li>
                            <li><a href="#">quote</a>, </li>
                            <li><a href="#">tag</a>, </li>
                            <li><a href="#">Video</a>, </li>
                            <li><a href="#">PSD Teplates</a>, </li>
                            <li><a href="#">Business</a>, </li>
                            <li><a href="#">Portfolio</a>, </li>
                            <li><a href="#">Construction</a>, </li>
                            <li><a href="#">One Page</a> </li>
                        </ul>
                    </div>
                    <!-- E: . -->
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-sm-pull-4 col-md-pull-4">
                    <div class="blog blogpost">
                        <article class="type-post">
                            <div class="entry-author">
                                <div class="media">
                                    <div class="media-left pull-left">
                                        <a href="#" title="Gloria Richards">
                                            <img alt="Gloria Richards" src="images/picture/cover-01.png" class="media-object" width="70" height="70">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-content">
                                            <h4 class="media-heading">Nguyen tien huy</h4>
                                            <p class="postago">Posted <span class="color-333">20 December 2016</span> &nbsp;&nbsp; by <a href="#" class="color-gray">Admin</a> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-title">
                                <h3>Here are some pictures of our jobs Electric did </h3>
                            </div>
                            <div class="entry-cover">
                                <img class="img-responsive" src="images/picture/article-01.jpg" alt="image">
                            </div>
                            <div class="entry-content">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                                </p>
                                <h4 class="tt06">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h4>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him </p>
                                <h4 class="tt06">The standard Lorem Ipsum passage, used since the 1500s</h4>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                            </div>
                            <div class="entry-meta">
                                <label>SHARE:</label>
                                <div class="post-share">
                                    <ul>
                                        <li><a href="#" title="twitter"><i class="fa fa-twitter"></i> </a> </li>
                                        <li><a href="#" title="facebook"><i class="fa fa-facebook"></i> </a> </li>
                                        <li><a href="#" title="google"><i class="fa fa-google"></i> </a> </li>
                                        <li><a href="#" title="instagram"><i class="fa fa-instagram"></i> </a> </li>
                                        <li><a href="#" title="pinterest"><i class="fa fa-pinterest-p"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- E: article.type-post -->
                        <div class="post-comments">
                            <div class="sect-header">
                                <h3>Comment: 2</h3>
                            </div>
                            <div class="media">
                                <div class="media-left pull-left">
                                    <a href="#" title="Gloria Richards">
                                        <img alt="Gloria Richards" src="images/picture/cover-04.jpg" class="media-object" width="80" height="80">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="media-content">
                                        <h4 class="media-heading">Gloria Richards <span>01th  May 2016 -12.00 AM</span></h4>
                                        <p>Accusantium doloremque laudantium, totam rem aperiame eaque ipsa quae ab illo marvl inven tore et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                        <a href="#" class="medical-button medical-button-xs" title="Reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left pull-left">
                                    <a href="#" title="Gloria Richards">
                                        <img alt="Gloria Richards" src="images/picture/cover-05.jpg" class="media-object" width="80" height="80">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="media-content">
                                        <h4 class="media-heading">Gloria Richards <span>01th  May 2016 -12.00 AM</span></h4>
                                        <p>Accusantium doloremque laudantium, totam rem aperiame eaque ipsa quae ab illo marvl inven tore et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                        <a href="#" class="medical-button medical-button-xs" title="Reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- E: .post-comments -->
                        <div class="comment-form">
                            <div class="sect-header">
                                <h3>Leave a comment</h3>
                            </div>
                            <div class="frm">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6">
                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-user"></i>
                                            <input type="text" required="" placeholder="Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6">
                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-envelope"></i>
                                            <input type="text" required="" placeholder="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12">
                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-comment"></i>
                                            <textarea placeholder="Comment" rows="8" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <input class="medical-button" type="submit" value="Post Comment" name="Post Comment" title="Post Comment">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- E: .comment-form -->
                    </div>
                </div>
                </div>
                </div>
                </div>
                <!-- E: . -->
                </div>



                <section class="section-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="widget contact-info-footer">
                                    <h3>Contact us</h3>
                                    <p class="textwg">At vero eos et accusamus et iusto odio dignissimos qui blanditiis.</p>
                                    <p><i class="fa fa-map-marker"></i>Big Ben Street, E16 3LS, London,United Kingdom</p>
                                    <p><i class="fa fa-envelope"></i><a href="#" class="mailto">Support24/7@domain.com</a> </p>
                                    <p><i class="fa fa-phone"></i>(0084)+ 123 45 67 890</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget">
                                    <h3>Services</h3>
                                    <ul class="notype lists">
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Dental Implants</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Heart Specialist</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Laboratory Tests</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Operation Theater</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>ICU Department</a> </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Liposuction Department</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget">
                                    <h3>Twitter</h3>
                                    <div class="link-twitter">
                                        <span class="set-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        <p>Sed ut perspiciatis unde omnis iste <a href="#" class="ui-link-white">https://t.co/</a></p>
                                        2 hours ago
                                    </div>
                                    <div class="link-twitter">
                                        <span class="set-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        <p>Sed ut perspiciatis unde omnis iste <a href="#" class="ui-link-white">https://t.co/</a></p>
                                        2 hours ago
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="widget wg-instagram">
                                    <h3>Instagram</h3>
                                    <ul class="notype list-member-ins">
                                        <li><a href="#"><img src="images/picture/ins-01.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-02.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-03.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-04.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-05.jpg" alt="image"></a> </li>
                                        <li><a href="#"><img src="images/picture/ins-06.jpg" alt="image"></a> </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- E: .section-footer -->

                <!-- End code -->

            </div>
        </div>
        <!-- End Main -->

        <!-- Begin Footer -->
        <footer id="page-footer">
            <div class="">
                <div class="container">
                    <div class="row footer">
                        <div class="hidden-xs hidden-sm col-md-3 ">
                            <img class="img-responsive" src="images/front/logo.png" alt="image">
                        </div>
                        <div class="col-md-6">
                            <div class="copyright">
                                Copyright 2016 by Medical. Made with <i aria-hidden="true" class="fa fa-heart"></i> by NthPsd.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="social-links">
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-twitter"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-instagram"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="icon">
                                    <a href="#" target="_blank" class="social-link-youtube"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    <!-- Java Scripts - Libs -->
    <script type="text/javascript" src="js/jquery.min.1.11.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                navigation : true
            });

        });
    </script>
 
</body>

</html>
