@import 'mixins';

/*// Fonts*/
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//// Variables
//@import "variables";

//// Bootstrap
//[>@import '~bootstrap/scss/bootstrap';<]

//.navbar-laravel {
  //background-color: #fff;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
/*}*/

  @import 'components/slider';
.choose .choose-content {
    margin-left: 0;
  }

  .choose .service-title {
    color: #0facee;
  }

  .depart-image {
    margin-bottom: 0;
  }

  .color-dark-gray {
      color: #333;
  }

  .section-subbanner .breadcrumb {
      font-size: 1.6rem;
  }

  @media only screen and (max-width: 770px) {
    .slider-section {
      display: none;
    }
  }

  // code
  
  .pt-16 {
      padding-top: 1.6rem
  }

  .blogpost .type-post .entry-meta {
    display: flex;
    align-items: center;
  }

  .color-pink {
      color: #FF69B4;
  }

  .topbar .fa {
      color: #0facee;
  }
